
.footer__content-bottom {
    background-color: black;
    color: #fff;
    border: 2px solid;
}

a {
    color: red;
    font-size: 14px;
    padding: 2em 1em;
    border: 2px solid;
    margin: 50px;
    background-color: yellow;
}

